@import "../mixins";

.advantages {
  padding: 120px 0;

  background: url("../img/advantages-background.webp") no-repeat center,
    $color-background-plug-light;
  background-size: cover;
}

.advantages__container {
}

.advantages__header {
  margin: 0 0 60px 0;
  padding: 0;

  text-align: center;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;

  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-767() {
    display: flex;
    flex-direction: column;

    align-items: center;
    row-gap: 30px;
  }
}

.advantages__item {
  max-width: 360px;

  padding: 30px 30px 50px 30px;
  background-color: $color-default-white;

  @include vp-767() {
    max-width: 100%;
  }
}

.advantages__item svg {
  margin-bottom: 25px;
}

.advantages__item h3 {
  margin: 0 0 20px 0;
  padding: 0;
}

.advantages__item p {
  margin: 0;
  padding: 0;
}
