.btn {
  display: block;
  padding: 15px 10px;
  width: 100%;

  text-align: center;

  font-family: "Montseratt", Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: $color-default-black;

  border: none;
  background-color: $color-default-white;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
