@import '../mixins';

.form {
  padding: 50px 60px;

  background: url('../img/background-form-desk.webp') no-repeat center,
  $color-background-plug;
  background-size: cover;

  @include vp-1023() {
    background: url('../img/background-form-tab.webp') no-repeat center,
    $color-background-plug;
    background-size: cover;
  }

  @include vp-374() {
    background: url('../img/background-form-mob.webp') no-repeat center,
    $color-background-plug;
    background-size: cover;
  }

}
.form__container {
  display: grid;
  grid-template-columns: 50% 40%;
  grid-template-areas: "title form"
                        "text form";
  column-gap: 10%;
  row-gap: 30px;
}
.form__header {
  grid-area: title;

  margin: 0;
  padding: 0;
  align-self: flex-end;
}

.form__description {
  margin: 0;
  padding: 0;

  grid-area: text;
}

.form__form {
  grid-area: form;

  display: flex;
  flex-direction: column;

  padding: 50px;
  background-color: $color-default-black;
}

.form__form label {
  display: flex;
}

.form__form input {
  width: 100%;
}


