@import '../mixins';
@import '../variables';

.intro {
  position: relative;
  top: -110px;
  width: 100%;
  min-height: 650px;
  z-index: $z-index-regular;

  background: url('../img/background-intro-desk.webp') no-repeat center,
  $color-background-plug;
  background-size: cover;

  @include vp-1023() {
    background: url('../img/background-intro-tab.webp') no-repeat center,
    $color-background-plug;
    background-size: cover;
  }

  @include vp-374() {
    background: url('../img/background-intro-mob.webp') no-repeat center,
    $color-background-plug;
    background-size: cover;
  }


}
.intro__container {
  padding-top: 170px;
  padding-bottom: 180px;

  @include vp-767() {
    padding-top: 120px;
    padding-bottom: 280px;
  }
}

.intro__header {
  margin: 0 0 30px 90px;
  padding: 0;

  font-style: bold;
  font-family: "Montseratt", Arial, sans-serif;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: $color-default-white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @include vp-1023 {
    margin: 0 0 30px 0;
  }
}
.intro__description {
  margin: 0 0 0 90px;
  padding: 0;

  font-style: regular;
  font-family: "Montseratt", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $color-default-white;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @include vp-1023 {
    margin: 0;
  }
}
