.map {
  display: flex;
  justify-content: space-between;

  padding: 120px 0;
}

.map__wrapper {
  width: 560px;
  height: 306px;

  @include vp-1023() {
    width: 324px;
    height: 335px;
  }

  @include vp-767() {
    width: 100%;
    height: 316px;
  }
}
.map__info-container {
  max-width: 40%;
}
.visually-hidden {
}
.map__header {
  margin: 0;
  padding: 0;
}
.map__adress {
  margin: 0;
  padding: 0;
}
.map__phone {
  margin: 0;
  padding: 0;
}
