@import "../mixins";
@import "../variables";

.navigation {
  position: absolute;
  z-index: $z-index-first-plan;

  width: 100%;
  min-height: 110px;
}

.navigation__logo-link {
  color: $color-default-white;
}

.navigation__logo {
  display: block;
  width: 70px;
  height: 38px;

  @include hover-focus {
    text-decoration: underline;
    opacity: 0.8;
    transition: opacity 300ms ease-in;
  }

  @include vp-1023() {
    width: 40px;
    height: 20px;
  }

  @include vp-767() {
    width: 42px;
    height: 22px;
  }
}

.navigation__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 23px 0;

  max-width: 70%;
  flex-wrap: wrap;
  column-gap: 34px;

  @include vp-1023() {
    max-width: 75%;
    column-gap: 24px;
  }

  @include vp-767() {
    display: none;
  }
}

.navigation__item-link {
  display: block;
  padding: 23px 0;

  font-style: medium;
  font-family: "Montseratt", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $color-default-white;

  @include hover-focus {
    text-decoration: underline;
    opacity: 0.8;
    transition: opacity 300ms ease-in;
  }

  @include vp-1023() {
    padding: 8px 0;
    font-size: 14px;
    line-height: 17px;
  }
}

.navigation__button {
  grid-area: eks;
  cursor: pointer;
  display: none;
  width: fit-content;

  @include vp-767 {
    display: block;
    padding: 15px 0;
    font-size: 0;
    background-color: transparent;
    border: none;
  }
}

.navigation__button-element {
  display: block;
  width: 24px;
  height: 2px;
  background-color: $color-default-white;

  &::before {
    content: "";
    position: relative;
    display: block;
    top: -8px;

    width: 24px;
    height: 2px;
    background-color: $color-default-white;
  }

  &::after {
    content: "";
    position: relative;
    display: block;
    top: 6px;

    width: 24px;
    height: 2px;
    background-color: $color-default-white;
  }
}

.navigation__overlay.is-activate {
  @include vp-767() {
    position: absolute;
    width: 100%;
    height: 100vh;

    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z-index-first-plan;

    display: flex;
    flex-direction: column;
    background-color: rgba(0, 43, 102, 0.5);

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.navigation__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @include vp-767() {
    margin: 14px 0;
  }
}

.navigation__wrapper.is-activate {
  @include vp-767() {
    position: fixed;
    margin: 0;
    left: 35px;
    z-index: $z-index-popup;
    display: grid;
    overflow-y: scroll;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 75px auto;
    grid-template-areas: "logo eks" "menu menu";
    width: calc(100% - 35px);
    height: 100vh;
    background-color: $color-default-white;
    align-items: start;

    .navigation__list {
      grid-area: menu;
      display: flex;
      flex-direction: column;
      justify-content: start;
      max-height: 600px;
      overflow-y: auto;
      max-width: 100%;
      row-gap: 7px;

      padding: 0;
    }

    .navigation__item {
      width: 100%;
    }

    .navigation__item-link {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: $color-default-black;
      padding: 10px;
    }

    .navigation__logo-link {
      grid-area: logo;
      color: $color-default-black;
    }

    .navigation__logo {
      margin: 20px 15px 20px 0;
    }

    .navigation__button {
      cursor: pointer;
      width: 30px;
      height: 42px;
      margin-top: 10px;
      margin-right: -14px;

      justify-self: flex-end;
    }

    .navigation__button-element {
      width: 24px;
      height: 2px;
      background-color: transparent;

      &::before {
        content: "";
        position: relative;
        display: block;
        top: 0;
        left: 0;

        width: 20px;
        height: 2px;
        background-color: $color-default-black;

        transform: rotate(45deg);
      }

      &::after {
        content: "";
        position: relative;
        display: block;
        top: -2px;
        left: 0;

        width: 20px;
        height: 2px;
        background-color: $color-default-black;
        transform: rotate(-45deg);
      }
    }
  }
}
