@import "../mixins";
@import "../variables";

.navigation {
  position: absolute;
  z-index: $z-index-first-plan;

  width: 100%;
  min-height: 110px;
}

.navigation__overlay {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.navigation__logo-link {
  color: $color-default-white;
}

.navigation__logo {
  display: block;
  margin: 38px 0;
  width: 70px;
  height: 38px;

  @include hover-focus {
    text-decoration: underline;
    opacity: 0.8;
    transition: opacity 300ms ease-in;
  }

  @include vp-1023() {
    width: 28px;
    height: 20px;
  }

  @include vp-767() {
    margin: 20px 0;
    width: 42px;
    height: 22px;
  }
}

.navigation__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

  max-width: 70%;
  column-gap: 33px;

  @include vp-767() {
    display: none;
  }
}

.navigation__item-link {
  display: block;
  padding: 48px 0;

  font-style: medium;
  font-family: "Montseratt", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $color-default-white;

  @include hover-focus {
    text-decoration: underline;
    opacity: 0.8;
    transition: opacity 300ms ease-in;
  }

  @include vp-1023() {
    font-size: 14px;
    line-height: 17px;
  }
}

.navigation__button {
  grid-area: eks;
  cursor: pointer;
  display: none;
  width: fit-content;
  height: fit-content;
  margin: 25px 0;

  @include vp-767 {
    display: block;
    padding: 15px;
    font-size: 0;
    background-color: transparent;
    border: none;
  }
}

.navigation__button-element {
  display: block;
  width: 24px;
  height: 2px;
  background-color: $color-default-white;

  &::before {
    content: "";
    position: relative;
    display: block;
    top: -8px;

    width: 24px;
    height: 2px;
    background-color: $color-default-white;
  }

  &::after {
    content: "";
    position: relative;
    display: block;
    top: 6px;

    width: 24px;
    height: 2px;
    background-color: $color-default-white;
  }
}

.navigation__overlay.is-activate {

  @include vp-767() {
    position: absolute;

    margin-left: 30px;
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-areas: "logo eks" "menu menu";
    width: calc(100% - 45px);
    height: 100vh;
    z-index: $z-index-background;
    background-color: $color-default-white;
  }

  .navigation__list {
    grid-area: menu;
    display: block;
    max-width: 100%;
    row-gap: 10px;

    padding: 0 15px;
  }

  .navigation__item {
    width: 100%;
  }

  .navigation__item-link {
    color: $color-default-black;
    padding: 10px;
  }

  .navigation__logo-link {
    grid-area: logo;
    color: $color-default-black;
    margin-left: 15px;
    width: 42px;
    height: 22px
  }

  .navigation__button {
    cursor: pointer;
    width: 42px;
    height: 42px;
    margin-right: 15px;
  }

  .navigation__button-element {
    width: 24px;
    height: 2px;
    background-color: transparent;

    &::before {
      content: "";
      position: relative;
      display: block;
      top: 0;
      left: 0;

      width: 24px;
      height: 2px;
      background-color: $color-default-black;

      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: relative;
      display: block;
      top: -2px;
      left: 0;

      width: 24px;
      height: 2px;
      background-color: $color-default-black;
      transform: rotate(-45deg);
    }
  }
}
