@import "../mixins";

.proposal {
  display: grid;
  grid-template-areas:
    "a c"
    "b c";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30% 60%;
  column-gap: 10%;

  padding-top: 120px;
  padding-bottom: 145px;
}

.proposal h2 {
  margin: 0 0 40px 0;
  padding: 0;

  grid-area: a;

  font-family: "Montseratt", Arial, sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: $color-default-black;
}

.proposal p {
  margin: 0;
  padding: 0;

  grid-area: b;

  font-family: "Montseratt", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-default-black;
}

.proposal picture {
  display: block;
  grid-area: c;
}
