@import "../mixins";

.proposal {
  display: grid;
  grid-template-areas:
    "a c"
    ". c"
    "b c";
  grid-template-columns: auto 560px;
  grid-template-rows: auto 8% auto;
  column-gap: 85px;

  padding-top: 120px;
  padding-bottom: 145px;

  @include vp-1023() {
    padding-top: 100px;
    padding-bottom: 105px;
    grid-template-columns: auto 324px;
    column-gap: 20px;
    grid-template-rows: auto 4% auto;
  }

  @include vp-767() {
    display: flex;
    flex-direction: column;

    padding-top: 65px;
    padding-bottom: 85px;
  }
}

.proposal h2 {
  margin: 0;
  padding: 0;

  grid-area: a;
  align-self: end;

  font-family: "Montseratt", "Arial", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: $color-default-black;

  @include vp-1023() {
    width: 220px;
    margin-top: -10px;

    font-size: 26px;
    line-height: 36px;
  }

  @include vp-767() {
    margin-bottom: 15px;
    align-self: start;

    font-size: 24px;
    line-height: 34px;
  }
}

.proposal p {
  margin: 0;
  padding: 0;

  grid-area: b;

  font-family: "Montseratt", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-default-black;

  @include vp-1023() {
    max-width: 324px;
  }

  @include vp-767() {
    margin-bottom: 45px;
    max-width: none;
  }
}

.proposal picture {
  display: block;
  grid-area: c;
}

.proposal img {
  width: 560px;
  height: 301px;

  @include vp-1023() {
    width: 324px;
    height: 175px;
  }

  @include vp-767() {
    width: 100%;
    height: auto;

    object-fit: cover;
  }
}
