@import "../mixins";

.proposal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 85px;

  padding-top: 120px;
  padding-bottom: 145px;

  @include vp-1023() {
    align-items: normal;

    padding-top: 100px;
    padding-bottom: 105px;
    column-gap: 50px;
  }

  @include vp-767() {
    display: flex;
    flex-direction: column;

    padding-top: 65px;
    padding-bottom: 85px;
  }
}

.proposal h2 {
  margin: 0 0 40px;
  padding: 0;

  align-self: end;

  font-family: "Montseratt", "Arial", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: $color-default-black;

  @include vp-1023() {
    margin: 0 0 30px;

    font-size: 26px;
    line-height: 36px;
  }

  @include vp-767() {
    margin-bottom: 15px;
    align-self: start;

    font-size: 24px;
    line-height: 34px;
  }
}

.proposal__info-wrapper {
  width: auto;
  max-width: 520px;

  @include vp-767() {
    width: auto;
    max-width: none;
  }
}

.proposal p {
  margin: 0;
  padding: 0;

  font-family: "Montseratt", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-default-black;

  @include vp-1023() {
    margin-top: 5px;
    max-width: none;
  }

  @include vp-767() {
    margin-top: 0;
    margin-bottom: 45px;
  }
}

.proposal picture {
  display: block;
}

.proposal img {
  max-width: 560px;
  max-height: 301px;

  @include vp-1279() {
    max-width: 480px;
    max-height: 258px;
  }

  @include vp-1023() {
    max-width: 324px;
    max-height: 174px;
  }

  @include vp-767() {
    max-width: none;
    max-height: none;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
