@import "../mixins";

.tours {
  padding-top: 85px;
  padding-bottom: 120px;

  @include vp-1279() {
    padding-top: 85px;
    padding-bottom: 100px;
  }

  @include vp-767() {
    padding-top: 60px;
    padding-bottom: 70px;
  }
}

.tours h2 {
  margin: 0 0 50px;
  padding: 0;
  text-align: center;

  font-family: "Montseratt", "Arial", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: $color-default-black;

  @include vp-1023() {
    font-size: 26px;
    line-height: 39px;
    margin-bottom: 50px;
  }

  @include vp-767() {
    font-size: 24px;
    line-height: 36px;
    margin: 0 0 30px;
  }
}

.tours__list {
  margin: 0;
  padding: 0 15px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;
  list-style-type: none;

  @include vp-1279() {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 29px;
  }

  @include vp-1023() {
    grid-template-columns: repeat(2, 1fr);
  }

  @include vp-767() {
    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 28.5px;
  }
}

.tours__item {
  position: relative;
  z-index: $z-index-regular;
  background-color: $color-default-black;
  display: grid;
  grid-template-rows: 10px min-content 1fr min-content 10px;
  grid-template-columns: 25px 1fr 25px;
  row-gap: 15px;
  aspect-ratio: 260/386;

  @include vp-1023() {
    aspect-ratio: 309/386;
  }

  @include vp-767() {
    aspect-ratio: 270/386;
    width: 100%;
  }

  h3 {
    align-self: end;
    grid-column: 2/3;
    grid-row: 2/5;
    margin: 0 0 0 5px;

    max-height: 200px;
    overflow-y: auto;

    font-family: "Montseratt", "Arial", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    color: $color-default-white;

    z-index: $z-index-regular;
  }

  a {
    grid-column: 2/3;
    grid-row: 4/5;
    padding: 1em;
    font-size: clamp(10px, 0.85679vw, 14px);
    line-height: 1.5;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    background: $color-default-white;
    color: $color-default-black;

    position: fixed;
    transform: scale(0);
  }

  dl {
    margin: 0;
    grid-column: 2/3;
    grid-row: 3/4;
    max-height: 100%;
    overflow-y: auto;
    font-size: clamp(10px, 0.85679vw, 14px);

    position: fixed;
    transform: scale(0);

  }
}

.tours__item:hover,
.tours__item:focus,
.tours__item:focus-within {
  picture {
    opacity: 0;
    z-index: -1;
  }

  h3 {
    grid-row: 2/3;
    margin: 0;
    align-self: start;
  }

  a {
    position: static;
    margin-bottom: 10px;
    transform: none;
  }

  dl {
    position: static;
    transform: none;
  }
}

.tours__item picture {
  grid-column: 1/-1;
  grid-row: 1/6;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.tours__item dt {
  margin: 0;
  padding: 0;

  font-family: "Montseratt", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $color-default-white;
}

.tours__item dd {
  margin: 0;
  padding-bottom: 12px;

  display: block;

  font-family: "Montseratt", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color-default-white;
}
