@import '../mixins';

.tours {
}
.tours__header {
}
.tours__list {
  display: grid;
  grid-template-columns: repeat(4, 1rf);
  grid-template-rows: auto;

  margin: 0;
  padding: 0;
  list-style-type: none;
}
.tours__item {
  position: relative;
  z-index: $z-index-regular;

  div {
    display: none;
  }

  @include hover-focus {
    div {
      position: absolute;
      display: block;
      z-index: $z-index-first-plan;
      top: 0;


      background-color: $color-default-black;
    }
  }
}

.tours__item h3 {
 color: $color-default-white;
}

.tours__item p {
  color: $color-default-white;
 }
