@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}


@mixin retina-vp-374 {
  @media (min-resolution: $retina-dpi) and (max-width: ($vp-375 - 1px)),
    (min-resolution: $retina-dppx) and (max-width: ($vp-375 - 1px)) {
    @content;
  }
}

@mixin retina-vp-767 {
  @media (min-resolution: $retina-dpi) and (max-width: ($vp-768 - 1px)),
    (min-resolution: $retina-dppx) and (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin retina-vp-1023 {
  @media (min-resolution: $retina-dpi) and (max-width: ($vp-1024 - 1px)),
    (min-resolution: $retina-dppx) and (max-width: ($vp-1024 - 1px)) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus {
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

// Desktop first

@mixin vp-1919 {
  @media (max-width: ($vp-1920 - 1px)) {
    @content;
  }
}

@mixin vp-1439 {
  @media (max-width: ($vp-1440 - 1px)) {
    @content;
  }
}

@mixin vp-1279 {
  @media (max-width: ($vp-1280 - 1px)) {
    @content;
  }
}

@mixin vp-1023 {
  @media (max-width: ($vp-1024 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin vp-374 {
  @media (max-width: ($vp-375 - 1px)) {
    @content;
  }
}

@mixin scroll($color) {
  --scroll-size: 6px;
  scrollbar-color: $color rgba($color, 0.8); // FF цвет-ползунка цвет-полосы
  scrollbar-width: thin; // FF, auto, thin, none

  &::-webkit-scrollbar {
    width: var(--scroll-size);
    height: var(--scroll-size);
  }

  &::-webkit-scrollbar-track {
    background: linear-gradient(
      transparent calc(50% - 1px),
      $color calc(50% - 1px),
      $color calc(50% + 1px),
      transparent calc(50% + 1px)
    );
    border-radius: 6px;
  }

  &::-webkit-scrollbar-track:vertical {
    background: linear-gradient(
      to right,
      transparent calc(50% - 1px),
      $color calc(50% - 1px),
      $color calc(50% + 1px),
      transparent calc(50% + 1px)
    );
    border-radius: 6px;
  }
  &::-webkit-scrollbar-thumb {
    height: var(--scroll-size);
    width: var(--scroll-size);
    border-radius: 6px;
    background: $color;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb:vertical {
    height: var(--scroll-size);
  }

  &::-webkit-scrollbar-thumb:window-inactive {
    background: darken($color, 10%);
  }
}

// Mobile first

// @mixin vp-375 {
//   @media (min-width: $vp-375) {
//     @content;
//   }
// }

// @mixin vp-768 {
//   @media (min-width: $vp-768) {
//     @content;
//   }
// }

// @mixin vp-1024 {
//   @media (min-width: $vp-1024) {
//     @content;
//   }
// }

// @mixin vp-1280 {
//   @media (min-width: $vp-1280) {
//     @content;
//   }
// }

// @mixin vp-1440 {
//   @media (min-width: $vp-1440) {
//     @content;
//   }
// }

// @mixin vp-1920 {
//   @media (min-width: $vp-1920) {
//     @content;
//   }
// }

// ---------------------------------

// не нужно добавлять свои миксины для ресета списков, обнуления кнопок и прочие
// этим вы усложняете работу команды, проверку вашего кода и будущую поддержку проекта
